.body {
  background-color: rgb(43, 43, 49);
  min-height: 100vh;
  overflow-y: hidden !important;
}

.backgroundContainerCreate {
  width: 100%;
  min-height: 100vh;
  height: 110vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.692);

  display: flex;
  justify-content: center;
  align-items: center;
}

.containerCreateMarker {
  background-color: white;
  border: 3px solid black;
  max-width: 400px;
  padding: 1rem;
}

.containerCreateMarker h2 {
  margin-bottom: 1em;
}
.containerCreateMarker input {
  margin-bottom: 1rem;
}
.containerCreateMarker div {
  display: flex;
  gap: 1rem;
}
.containerCreateMarker div button {
  padding: 0.3em 1rem;
}

header {
  /* background-color: cadetblue; */
  background-color: rgb(19, 19, 32);
}

.headerContent {
  width: 80%;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.headerContent button {
  font-size: 1em;
  font-weight: bold;
  padding: 0 1em;
}

.containerMain {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.containerInfo {
  background-color: rgb(145, 142, 142);
  border: 3px solid black;
  border-radius: 12px;
  width: 300px;
  display: flex;
  flex-direction: column;
}
.nameAndDeletteButton {
  /* border-radius: 12px; */
  /* background-color: rgb(158, 158, 158); */
  color: rgb(255, 255, 255);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed black;
}
.titleName {
  font-size: 2rem;
}

.deleteButton {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
}

.spots {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  background-color: antiquewhite;
  border-radius: 0px 0px 12px 12px;
}

.spots span {
  background-color: white;
  border: 3px solid black;
  padding: 0.38rem 0.6rem;
  font-size: 2rem;
}

.spots button {
  columns: white;
  background-color: transparent;
  border: none;
  font-size: 3.3rem;
}
